:root {
    /*colors*/
    --white: #FFFFFF;
    --mint: #D1E1CD;
    --sage: #99B7A3;
    --pine: #557869;
    --forest: #304E4E;
    --black: #000000;

    /*fonts*/
    --bodytext: "Modern Sans", "Segoe UI", "Optima", Arial, Helvetica, sans-serif;
    --heading: "Biko", "Microsoft Sans Serif","Franklin Gothic", "Charcoal", sans-serif;
}

/*~~~~ Typography ~~~~*/
h1{
    font-family: var(--heading);
    font-size: 120px;
    font-style: normal;
    font-weight: normal;
    color: var(--white);
    text-align: center;
}

h2{
    font-family: var(--heading);
    font-size: 80px;
    font-style: normal;
    font-weight: normal;
    color: var(--black);
    text-align: left;
}

/*body text*/
h3{
    font-family: var(--bodytext);
    font-size: 30px;
    font-style: normal;
    font-weight: lighter;
    color: var(--black);
    text-align: left;
}

 /*link*/
a:link {
    font-family: var(--bodytext);
    font-size: 30px;
    font-style: normal;
    font-weight: lighter;
    color: var(--pine);
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color: var(--sage);
}

/*font nav bar*/
header {
    font-family: var(--bodytext);
    font-size: 45px;
    font-style: normal;
    font-weight: lighter;
    color: var(--white);
}


/*~~~ Sections ~~~*/
body{
    /*body text*/
    font-family: var(--bodytext);
}


/*~~~ Buttons ~~~*/
button{
    /*font*/
    font-family: var(--bodytext);
    font-size: 37px;
    color: var(--pine);
    text-align: center;

    /*shape*/
    background-color: var(--white);
    border: 2px solid var(--pine);
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 275px;

    /*other*/
    cursor: pointer;
    transition-duration: 0.4s;

}

button:hover{
    background-color: var(--mint);
}

/*~~~~~~ Mobile version ~~~~~~*/
@media only screen and (max-width: 500px){
    h1{
        font-size: 45px;
    }

    h2{
        font-size: 30px;
    }

    /*body text*/
    h3{
        font-size: 16px;
    }

    a:link{
        font-size: 16px;
    }

    header {
        font-size: 30px;
    }
}