:root {
    /*colors*/
    --white: #FFFFFF;
    --mint: #D1E1CD;
    --sage: #99B7A3;
    --pine: #557869;
    --forest: #304E4E;
    --black: #000000;

    /*fonts*/
    --bodytext: "Modern Sans", "Segoe UI", "Optima", Arial, Helvetica, sans-serif;
    --heading: "Biko", "Microsoft Sans Serif","Franklin Gothic", "Charcoal", sans-serif;
}

/*~~~~ Typography ~~~~*/
h1{
    font-family: var(--heading);
    font-size: 120px;
    font-style: normal;
    font-weight: normal;
    color: var(--white);
    text-align: center;
}

h2{
    font-family: var(--heading);
    font-size: 80px;
    font-style: normal;
    font-weight: normal;
    color: var(--black);
    text-align: left;
}

/*body text*/
h3{
    font-family: var(--bodytext);
    font-size: 30px;
    font-style: normal;
    font-weight: lighter;
    color: var(--black);
    text-align: left;
}

 /*link*/
link {
    font-family: var(--bodytext);
    font-size: 30px;
    font-style: normal;
    font-weight: lighter;
    color: var(--pine);
    text-decoration: underline;
    cursor: pointer;
}

link:hover{
    color: var(--sage);
}


/*~~~ Nav bar ~~~*/
/*font nav bar*/
link {
    font-family: var(--bodytext);
    font-size: 45px;
    font-style: normal;
    font-weight: lighter;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

ul{
    margin-left: 150px;
    margin-right: 150px;
    padding: 40px;
    text-align: center;
    list-style-type: none;
}

.nav {
    font-style: normal;
    font-weight: lighter;
    color: var(--white);
    background-color: var(--forest);

    overflow: hidden;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 0 0 25px 25px;
    /*display: flex;
    justify-content: center;*/
}

.nav a{
    display: block;
    color: var(--white);
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 40px 50px;
    font-size: 45px;
}

.middle{
    display: flex;
    justify-content: center;
    margin: 0;
}

section{
    margin: 0;
}

.nav a.splitL{
    float: left;
    margin: 0;
}

.nav a.splitR{
    float: right;
    margin: 0;
}


/*~~~ Sections ~~~*/
body{
    /*body text*/
    font-family: var(--bodytext);
    margin: 0;
}

main{
    margin-left: 150px;
    margin-right: 150px;
}


/*~~~ Buttons ~~~*/
button{
    /*font*/
    font-family: var(--bodytext);
    font-size: 37px;
    color: var(--pine);
    text-align: center;

    /*shape*/
    background-color: var(--white);
    border: 2px solid var(--pine);
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 275px;

    /*other*/
    cursor: pointer;
    transition-duration: 0.4s;

}

button:hover{
    background-color: var(--mint);
}

/*~~~~~~ Mobile version ~~~~~~*/
@media only screen and (max-width: 500px){
    h1{
        font-size: 45px;
    }

    h2{
        font-size: 30px;
    }

    /*body text*/
    h3{
        font-size: 16px;
    }

    a:link{
        font-size: 16px;
    }

    header {
        font-size: 30px;
    }
}