:root {
    /*colors*/
    --white: #FFFFFF;
    --mint: #D1E1CD;
    --sage: #99B7A3;
    --pine: #557869;
    --forest: #304E4E;
    --black: #000000;

    /*fonts*/
    --bodytext: "Modern Sans", "Segoe UI", "Optima", Arial, Helvetica, sans-serif;
    --heading: "Biko", "Microsoft Sans Serif","Franklin Gothic", "Charcoal", sans-serif;
}

body{
    background-color: var(--pine);
}

main{
    margin-top: 14vh;
}

article{
    /*margin-left: 2vw; /*250px*/
    /*margin-right: 36vw; /*680px*/
    /*margin-bottom: 8vh; /*100px*/

    background-color: var(--white);
    padding: 3vw; /*55px*/
    padding-right: 14vw;
    border-radius: 25px;
}

#description {
    display: grid;
    grid-template-columns: 37vw 12vw 26vw;
    grid-template-rows: 50px 407px 70px;
    gap: 0px;
}

#description button{
    background-color: var(--mint);
    display: block;
}

#box{
    grid-column: 1 / 3;
    grid-row: 1/3;
}

#main-pic{
    z-index: 1;

    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: -1px -3px 6px rgb(0 0 0 / 15%);

    grid-column: 2 / 4;
    grid-row: 2/4;
}

#go-back{
    margin-left: 8vw;
}

#up{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}