:root {
    /*colors*/
    --white: #FFFFFF;
    --mint: #D1E1CD;
    --sage: #99B7A3;
    --pine: #557869;
    --forest: #304E4E;
    --black: #000000;

    /*fonts*/
    --bodytext: "Modern Sans", "Segoe UI", "Optima", Arial, Helvetica, sans-serif;
    --heading: "Biko", "Microsoft Sans Serif","Franklin Gothic", "Charcoal", sans-serif;
}

.shadow{
    width: 400px;
    height: 200px;
    background-color: (--mint);
    box-shadow: 10 10 #000000;
}