:root {
    /*colors*/
    --white: #FFFFFF;
    --mint: #D1E1CD;
    --sage: #99B7A3;
    --pine: #557869;
    --forest: #304E4E;
    --black: #000000;

    /*fonts*/
    --bodytext: "Modern Sans", "Segoe UI", "Optima", Arial, Helvetica, sans-serif;
    --heading: "Biko", "Microsoft Sans Serif","Franklin Gothic", "Charcoal", sans-serif;
}

section{
    margin: 0;
    /*margin-left: 8vw;
    margin-right: 8vw;*/
}

/*~~~Front page banner~~*/
.banner{
    background-image: url("/img/photos/greenPlants2.png");
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#title{
    margin-top: 0; 
    margin-bottom: 100px;
    color: black; 
    text-align: left;
    padding-top: 230px;
    padding-left: 170px;
}

#cta{
    margin-left: 170px;
}